/* --- NOUVEAUX STYLES POUR LES SOUS-MENUS --- */

#submenu-container {
    text-align: center;
    padding: 10px;
    background-color: #ecf0f1;
}

/* Le sous-menu est caché par défaut */
.submenu {
    display: none;
    padding: 10px;
    border-top: 2px solid #bdc3c7;
}

/* Style pour afficher le sous-menu actif */
.submenu.active-submenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espace entre les boutons */
}

/* Style des boutons de sélection de PDF */
.pdf-button {
    background-color: #16a085;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.pdf-button:hover {
    background-color: #1abc9c;
}
